{% extends "layout.html" %}
{% block title %}Ravintolan luonti{% endblock %}
{% block content %}

<h2>Ravintolan luonti</h2>

<hr>

<form action="/create" method="post">
Ravintolan nimi (1-50 merkkiä): (*)<br>
<input type="text" name="name" minlength="1" maxlength="50" required>
<p>
Kuvaus (1-1000 merkkiä): (*)<br>
<textarea name="description" rows="5" cols="100" maxlength="1000"></textarea>
<p>
Kategoria (1-50 merkkiä): (*)<br>
<input type="text" name="category" minlength="1" maxlength="50" required>
<p>
Yhteystiedot (max. 100 merkkiä):<br>
<textarea name="address" rows="3" cols="30" maxlength="100"></textarea>
<p>
Aukioloajat (max. 1000 merkkiä):<br>
<textarea name="business_hours" rows="5" cols="100" maxlength="1000"></textarea>
<p>
Onko kyseessä bucketlist-ravintola, vai ravintola, jossa olet jo käynyt? (*) <br>
<input type="radio" name="entry_type" value="1" checked> Bucketlist-ravintola
<input type="radio" name="entry_type" value="2"> Käyty ravintola
<p>
<input type="submit" value="Luo ravintola">

<input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>
Tähdellä (*) merkityt kentät ovat pakollisia täyttää.
<p>
<hr>
<a href="/">Palaa etusivulle</a>

{% endblock %}
