<title>Vieraillun ravintolan luonti – Ravintolasovellus</title>
<h2>Vieraillun ravintolan luonti</h2>
<form action="/send_visited_entry" method="post">
<hr>
Ravintolan nimi(*):<br>
<input type="text" name="name" minlength="1" maxlength="30" required>
<br>
Kuvaus:<br>
<textarea name="description" rows="3" cols="50" maxlength="100"></textarea>
<br>
Kategoria(*):<br>
<input type="text" name="category" minlength="1" maxlength="30" required>
<br> 
Osoite:<br>
<textarea name="address" rows="2" cols="30" maxlength="50"></textarea>
<br>
Arvostelu(*):<br>
<input type="radio" name="rating" value="1" required> 1 tähti
<input type="radio" name="rating" value="2"> 2 tähteä
<input type="radio" name="rating" value="3"> 3 tähteä
<input type="radio" name="rating" value="4"> 4 tähteä
<input type="radio" name="rating" value="5"> 5 tähteä
<br>
Sanallinen arvostelu:<br>
<textarea name="review" rows="4" cols="60" maxlength="100"></textarea>
<br>
<input type="submit" value="Luo ravintola">
<br>
Tähdellä (*) merkityt kohdat ovat pakollisia täyttää.
<hr>
<a href="/">Palaa etusivulle</a>
</form>
