{% extends "layout.html" %}
{% block title %}Arvostelun poistaminen{% endblock %}
{% block content %}

<h2>Arvostelun poistaminen</h2>

<hr>

{% if not reviews %}
<p>Ei poistettavia arvosteluja.</p>

{% else %}
<p>Valitse poistettava arvostelu:</p>
<form action="/delete_review" method="post">

{% for review in reviews %}
<input type="radio" name="review" value="{{ review.id }}"> {{ review.title }}: {{ review.description }}, tekijä {{ review.user_name }}, käyttäjätunnus {{ review.user_id }}<br> 
{% endfor %} 
<br>

<input type="submit" value="Poista valittu">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

{% endif %}
<hr>

<a href="/"> Palaa etusivulle </a>

{% endblock %}
