{% extends "layout.html" %}
{% block title %} Virhe {{ errorcode }} {% endblock %}
{% block content %}

<h1> Hups! Sattui virhe. </h1>

<hr>

{% if errorcode == 1 %}
<h2> Virhe {{ errorcode }}: Ravintolakirjauksen luonti epäonnistui </h2>
{% elif errorcode == 2 %}
<h2> Virhe {{ errorcode }}: Kirjautuminen epäonnistui </h2>
{% elif errorcode == 3 %}
<h2> Virhe {{ errorcode }}: Arvostelun luonti epäonnistui </h2>
{% elif errorcode == 0 %}
<h2> Virhe {{ errorcode }}: Käyttäjätilin luonti epäonnistui </h2>
{% else %}
<h2> Virhe {{ errorcode }} </h2>
{% endif %}

<hr>

<p>Sivun lataamisessa tapahtui virhe. Selite: {{ message }}</p>

<hr>

<a href="/">Palaa etusivulle</a>

{% endblock %}
