{% extends "layout.html" %}
{% block title %} Virhe {{ errorcode }} {% endblock %}
{% block content %}

<h2> Hups! Sattui virhe. </h2>

<hr>

{% if errorcode == 1 %}
<p> Virhe {{ errorcode }}: Ravintolakirjauksen luonti epäonnistui </p>
{% elif errorcode == 2 %}
<p> Virhe {{ errorcode }}: Kirjautuminen epäonnistui </p>
{% elif errorcode == 3 %}
<p> Virhe {{ errorcode }}: Arvostelun luonti epäonnistui </p>
{% elif errorcode == 0 %}
<p> Virhe {{ errorcode }}: Käyttäjätilin luonti epäonnistui </p>
{% else %}
<p> Virhe {{ errorcode }} </p>
{% endif %}

<p>Selite: <b>{{ message }}</b></p>

<hr>

<a href="/">Palaa etusivulle</a>

{% endblock %}
