{% extends "layout.html" %}
{% block title %} Virhe {{ errorcode }} {% endblock %}
{% block content %}

<h2> Hups! Sattui virhe. </h2>

<hr>

<h6> Virhe {{ errorcode }}: </h6>
{% if errorcode == 1 %}
	<p> Virhe ravintolakirjauksen tallentamisessa </p>
{% elif errorcode == 2 %}
	<p> Virhe kirjautumisessa </p>
{% elif errorcode == 3 %}
	<p> Virhe arvostelun tallentamisessa </p>
{% elif errorcode == 0 %}
	<p> Virhe rekisteröitymisen tallentamisessa </p>
{% elif errorcode == 4 %}
	<p> Virhe kysymyksen tallentamisessa </p>
{% elif errorcode == 5 %}
	<p> Virhe profiilin lataamisessa </p>
{% elif errorcode == 6 %}
	<p> Virhe vastauksen tallentamisessa </p>
{% elif errorcode == 7 %}
	<p> Virhe tiedon päivittämisessä </p>
{% elif errorcode == 8 %}
	<p> Virhe tiedon poistamisessa </p>
{% elif errorcode == 9 %}
	<p> Virhe tiedon palauttamisessa </p>
{% endif %}

<p>Selite: <b>{{ message }}</b></p>

<p>Yritä uudelleen. Jos ongelma jatkuu, ota yhteyttä sovelluksen ylläpitäjään.</p>

<hr>

<a href="/">Palaa etusivulle</a>

{% endblock %}
