{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Etusivu</h2>

{% if not restaurants %}
<hr>
<p> Ravintoloita ei vielä ole lisätty. Kokeile luoda ravintola!</p>

{% else %}
{% for restaurant in restaurants %}
<hr>

{% if restaurant.entry_type == 1 %}
<h4> Bucketlist-ravintola: {{ restaurant.name }} </h4>
{% elif restaurant.entry_type == 2 %}
<h4> Käyty ravintola: {{ restaurant.name }} </h4>
{% endif %}

Kuvaus: <b>{{ restaurant.description }}</b> 
<br>
Kategoria: <b>{{ restaurant.category }}</b> 
<br>
Osoite: <b>{{ restaurant.address }}</b> 
<br>
Aukioloajat: <b>{{ restaurant.business_hours }}</b> 
<p>
<a href="/restaurant/{{ restaurant.id }}">Ravintolan tiedot</a><br>

{% endfor %}

{% endif %}

{% endblock %}
