<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<title>{% block title %}{% endblock %} – Ravintolasovellus</title>

<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Ravintolasovellus</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="/create">Ravintolan luonti</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  href="/search">Haku</a>
			</li>
		</ul>
		<span class="navbar-text">
			{% if session.user_seclevel == 1 %}
			Kirjauduttu sisään käyttäjänä: {{ session.user_name }} 
			<a class="nav-link" href="/logout">Kirjaudu ulos</a>
			{% elif session.user_seclevel == 2 %}
			Kirjauduttu sisään ylläpitäjänä: {{ session.user_name }} 
			<a class="nav-link"  href="/logout">Kirjaudu ulos</a>
			{% else %}
                        <a class="nav-link" href="/login">Kirjaudu sisään</a>
			{% endif %}
		</span>
	</nav>
	<hr>
	{% block content %}{% endblock %}
</div>
