{% extends "layout.html" %}
{% block title %}Profiili: {{ username }}{% endblock %}
{% block content %}

<h2>Profiili: {{ username }}</h2>

<hr>

{% if not reviews %}
<p> Et vielä ole luonut yhtään arvostelua. Kokeile luoda yksi! </p>

{% else %}
<h4> Tehdyt arvostelut </h4>
{% for review in reviews %}
<hr>
<p>''{{ review.title }}''</p>

Arvostelu: <b> {{ review.rating}} tähteä</b> <br>

Kuvaus: <b> {{ review.description }} </b> <br>

Suosittelisitko tätä ravintolaa? 
{% if review.recommendation == 1 %}
<b> Kyllä </b>
{% elif review.recommendation == 2 %}
<b> En </b>
{% endif %}

<br>
{% endfor %}

{% endif %}

<hr>

<h4> Tehdyt kysymykset </h4>

<hr>

{% if not questions %}
	<p> Et ole vielä tehnyt kysymyksiä. </p>
	<hr>
{% else %}
	{% for question in questions %}
	        <p>  {{ question.content }} </p>
		<hr>
        {% endfor %}
{% endif %}

<h4> Tehdyt vastaukset </h4>

<hr>

{% if not answers %}
	<p> Et ole vielä vastannut yhteenkään kysymykseen. </p>
	<hr>
{% else %}
	{% for answer in answers %}
		<p> {{ answer.content }} </p>
		<hr>
	{% endfor %}
{% endif %}

<a href="/"> Palaa etusivulle </a>

{% endblock %}
