{% extends "layout.html" %}
{% block title %}Profiili: {{ username }}{% endblock %}
{% block content %}

<h2>Profiili: {{ username }}</h2>

<hr>

{% if not reviews %}
<p> Et vielä ole luonut yhtään arvostelua. Kokeile luoda yksi! </p>

{% else %}
<h4> Tehdyt arvostelut </h4>
{% for review in reviews %}
<hr>
<p>''{{ review.title }}''</p>

Arvostelu: <b> {{ review.rating}} tähteä</b> <br>

Kuvaus: <b> {{ review.description }} </b> <br>

Suosittelisitko tätä ravintolaa? 
{% if review.recommendation == 1 %}
<b> Kyllä </b>
{% elif review.recommendation == 2 %}
<b> En </b>
{% endif %}

<br>
{% endfor %}

{% endif %}

<hr>

<a href="/"> Palaa etusivulle </a>

{% endblock %}
