{% extends "layout.html" %}
{% block title %}Rekisteröityminen{% endblock %}
{% block content %}

<h2>Rekisteröityminen</h2>

<form action="/register" method="post">
Käyttäjänimi (4-30 merkkiä):<br>
<input type="text" name="username" minlength="4" maxlength="30" required>
<p>
Salasana (8-30 merkkiä):<br>
<input type="password" name="password" minlength="8" maxlength="30" required>
<p>
Kirjoita salasana uudelleen:<br>
<input type="password" name="password_verify" minlength="8" maxlength="30" required>
<p>
Tilin tyyppi:
<input type="radio" name="seclevel" value="1" checked>Käyttäjä
<input type="radio" name="seclevel" value="2">Ylläpitäjä
<p>
<input type="submit" value="Luo tili">
</form>

Kaikki kentät ovat pakollisia täyttää.
<p>

<a href="/">Palaa etusivulle</a>

{% endblock %}
