<title> {{ restaurant[0][0] }} – Ravintolasovellus </title>

{% if restaurant[0][5] == 1 %}
<h2>Bucketlist-ravintola: {{ restaurant[0][0] }}</h2> 
{% elif restaurant[0][5] == 2 %}
<h2>Käyty ravintola: {{ restaurant[0][0] }}</h2>
{% endif %}

Kuvaus: <b>{{ restaurant[0][1] }}</b> 
<br>
Kategoria: <b>{{ restaurant[0][2] }}</b> 
<br>
Osoite: <b>{{ restaurant[0][3] }}</b> 
<br>
Aukioloajat: <b>{{ restaurant[0][4] }}</b> 
<br>
Arvostelujen keskiarvo: <b>{{ rating }} tähteä</b>
<br>

<hr>
<a href="/restaurant/{{ id }}/create_review">Lisää ravintolalle arvostelu</a>
{% if session.user_seclevel == 2 %}
<a href="/restaurant/{{ id }}/delete">Poista ravintola</a>
{% endif %}

<hr>
<h3>Arvostelut</h3>
{% if not reviews %}
<h4> Ravintolalla ei vielä ole yhtään arvostelua. Kokeile luoda arvostelu!</h4>
{% else %}
{% for review in reviews %}
<hr>
<h4>''{{ review.title }}''</h4>
Arvostelu: <b> {{ review.rating}} tähteä<b> <br>
Sanallinen arvostelu: <b> {{ review.review }} <b> <br>
Suosittelisitko tätä ravintolaa?
{% if review.recommendation == 1 %}
<b> Kyllä </b>
{% elif review.recommendation == 2 %}
<b> En <b>
{% endif %}
<br>
{% endfor %}
{% endif %}
<hr>

<a href="/"> Palaa etusivulle </a>
