<title> {{ restaurant[0][0] }} – Ravintolasovellus </title>

{% if restaurant[0][5] == 1 %}
<h2>Bucketlist-ravintola: {{ restaurant[0][0] }}</h2> 
{% elif restaurant[0][5] == 2 %}
<h2>Käyty ravintola: {{ restaurant[0][0] }}</h2>
{% endif %}

Kuvaus: <b>{{ restaurant[0][1] }}</b> 
<br>
Kategoria: <b>{{ restaurant[0][2] }}</b> 
<br>
Osoite: <b>{{ restaurant[0][3] }}</b> 
<br>
Aukioloajat: <b>{{ restaurant[0][4] }}</b> 
<br>

{% if reviews %}
<h3> Arvostelut <h3>
{% for review in reviews %}
{{ review.title }}
{{ review.review }}
{{ review.rating }}
{{ review.recommendation }}
{% endfor %}
{% endif %}

<a href="/restaurant/{{ id }}/create_review">Lisää ravintolalle arvostelu</a>
<a href="/restaurant/{{ id }}/reviews">Ravintolan arvostelut</a>

{% if session.user_id == 2 %}
<hr>
<a href="/restaurant/{{ id }}/delete">Poista ravintola</a>
{% endif %}

<hr>

<a href="/"> Palaa etusivulle </a>
