<title>Poistetut ravintolat</title>

<h2>Poistetut ravintolat</h2>

<hr>

{% if not restaurants %}
<h3>Ei poistettuja ravintoloita.</h3>
{% else %}
<form action="/restore_restaurant" method="post">
{% for restaurant in restaurants %}
<input type="radio" name="restaurant" value="{{ restaurant.id }}"> {{ restaurant.name }}<br>
{% endfor %}
<br>

<input type="submit" value="Palauta valittu">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>

{% endif %}
<hr>
<a href="/"> Palaa etusivulle </a>

